<!DOCTYPE html>
<html>
<head>
    <title>Purchase Stocks</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <div class="container">
        <h1>Purchase Stocks</h1>
        <form action="/purchase" method="POST">
            <div class="form-group">
                <label for="user">User Name</label>
                <input type="text" id="user" name="user" placeholder="Enter user name" required>
            </div>
            <div class="form-group">
                <label for="name">Stock Name</label>
                <input type="text" id="name" name="name" placeholder="Enter stock name" required>
            </div>
            <div class="form-group">
                <label for="amount">Amount</label>
                <input type="number" id="amount" name="amount" placeholder="Enter the amount" required>
            </div>
            <button type="submit" class="btn">Purchase</button>
        </form>
<h3>Dow Jones</h3><br>
<h3>S&P 500</h3><br>
<h3>AAPL</h3><br>
<h3>BA</h3><br>
<h3>BRK-B</h3><br>
<h3>DIS</h3><br>
<h3>GE</h3><br>
<h3>HD</h3><br>
<h3>NKE</h3><br>
<h3>SBUX</h3><br>
<h3>NVDA</h3><br>
    </div>
</body>
</html>
